@charset "UTF-8";
/* archivo de sass para mi proyecto*/
/*RECORDAR QUE EN SASS SE PUEDE IDENTAR*/
/*CSS FONT FAMILY*/
/*  
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
*/
/*MIXIN PARA PREGUNTAS FRECUENTES*/
/*VARIABLES DE COLORES MARRONES PARA LA PAGINA*/
/*VARIABLE DE FUENTES*/
* {
  box-sizing: border-box;
  padding-top: 0;
  margin: 0;
}

body {
  margin: 0px;
  overflow-x: hidden;
  padding-top: 5rem;
  /*LE DOY UN PADDING AL BODY PARA QUE 
   NO SE SOLAPE CON EL NAV STICKY*/
}

/*COMIENZO MOBILE FIRST EL DISEÑO DESDE CERO*/
/*HTML INICIO*/
@media (max-width: 576px) {
  .navbar {
    -webkit-box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
  .navbar img {
    width: 10rem;
    height: 8rem;
  }
  .navbar .navbar-collapse {
    display: flex;
    text-align: end;
  }
  .navbar .navbar-collapse .nav-link {
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
  }

  .contenedorPrincipal {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .contenedorPrincipal .carousel-image {
    width: 100vw;
  }
  .contenedorPrincipal .carousel-image2 {
    width: 100vw;
  }
  .contenedorPrincipal .mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contenedorPrincipal .mainIndex .textoinicial {
    font-family: "Oswald", sans-serif;
  }
  .contenedorPrincipal .mainIndex .btntienda {
    display: flex;
    justify-content: center;
  }
  .contenedorPrincipal .mainIndex .btntienda .btn {
    background-color: #91764b;
    box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
  }
  .contenedorPrincipal .mainIndex .btntienda .btn .botontienda {
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }
  .contenedorPrincipal .mainIndex .tablaContenidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  .contenedorPrincipal .mainIndex .tablaContenidos .card {
    width: 90%;
    margin-top: 1rem;
  }

  footer .footer {
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    background-color: white;
    /* Inicialmente, el fondo del navbar es transparente */
  }
  footer .footer .footer-logo img {
    width: 5rem;
  }
  footer .footer .footer-redes {
    font-family: "Oswald", sans-serif;
  }
  footer .footer .footer-redes .contenedorRedes {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
  }
  footer .footer .footer-redes .contenedorRedes .fa-brands {
    color: black;
  }
  footer .footer .footer-ubi .contenedorPagos {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  footer .footer .footer-ubi .contenedorPagos .tarjetasTop img {
    width: 1.5rem;
    height: 1.5rem;
  }
  footer .footer .footer-ubi .contenedorPagos .tarjetasBot img {
    width: 1.5rem;
    height: 1.5rem;
  }

  /*HTML PRODUCTOS*/
  .productos {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .productos h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
  }

  /*HTML DE TERMOS*/
  .productosTermos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .productosTermos .tituloTermos {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
  .productosTermos .tablaTermos {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }
  .productosTermos .tablaTermos .card {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 40%;
  }
  .productosTermos .tablaTermos .card .card-img-top {
    width: 10rem;
    height: 10rem;
  }
  .productosTermos .tablaTermos .card-body {
    font-family: "Oswald", sans-serif;
  }
  .productosTermos .tablaTermos .card-body .card-title {
    font-size: 1rem;
  }
  .productosTermos .tablaTermos .card-body .card-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .productosTermos .tablaTermos .card-body .card-subtext {
    font-size: 0.8rem;
    color: gray;
  }
  .productosTermos .tablaTermos .card-body .btn {
    width: 100%;
    color: white;
    background-color: #a3875b;
    border: none;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  /*HTML DE MATES-BOMBILLAS-ACCESORIOS*/
  .tituloBombillas {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .tituloAccesorios {
    text-align: center;
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }

  .productosMates {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .productosMates .tituloMates {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
  .productosMates .tablaMates {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }
  .productosMates .tablaMates .card {
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 40%;
    border-color: #e8e1e1;
  }
  .productosMates .tablaMates .card .card-img-top {
    width: 12rem;
    height: 12rem;
  }
  .productosMates .tablaMates .card .card-body {
    font-family: "Oswald", sans-serif;
  }
  .productosMates .tablaMates .card .card-body .card-title {
    font-size: 1rem;
  }
  .productosMates .tablaMates .card .card-body .card-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .productosMates .tablaMates .card .card-body .card-subtext {
    font-size: 0.8rem;
    color: gray;
  }
  .productosMates .tablaMates .card .card-body .btn {
    width: 100%;
    color: white;
    background-color: #a3875b;
    border: none;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  /*HTML DE NOSOTROS*/
  .contenedorTituloNosotros {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
  }
  .contenedorTituloNosotros .titulodenosotros {
    font-family: "Oswald", sans-serif;
  }
  .contenedorTituloNosotros .titulodenosotros h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .contenedorTituloNosotros .titulodenosotros .lorem {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
  }
  .contenedorTituloNosotros .carousel .carousel-item .carousel-image {
    width: 100vw;
  }

  /*HTML DE CONTACTOS*/
  .contactos-todo {
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
  }
  .contactos-todo .opcionesdecontacto {
    font-family: "Oswald", sans-serif;
    padding-top: 5rem;
  }
  .contactos-todo .formularioContacto {
    background-color: #a3875b;
    margin-top: 5rem;
  }
  .contactos-todo .formularioContacto .email {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
  }
  .contactos-todo .formularioContacto .nombre {
    width: 80%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .apellido {
    width: 80%;
    margin: auto;
    padding-bottom: 3rem;
  }
  .contactos-todo .formularioContacto .mensaje {
    width: 90%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .mensaje .form-control {
    height: 15rem;
  }
  .contactos-todo .formularioContacto .btnEnviar {
    padding-bottom: 1rem;
  }
  .contactos-todo .formularioContacto .btnEnviar .btn {
    background-color: white;
    color: #6c542b;
    border: none;
  }

  /*HTML DE PREGUNTAS FRECUENTES*/
  .textoprincipal {
    margin-top: 5rem;
  }
  .textoprincipal .titulo-seccion {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 1rem;
  }
  .textoprincipal .pregunta h2 {
    font-family: "Oswald", sans-serif;
    text-align: center;
  }
  .textoprincipal .pregunta p {
    background-color: #b5986b;
    text-align: center;
  }
}
/*------------MEDIA PARA TABLETS------------*/
@media (min-width: 576px) and (max-width: 768px) {
  /*HTML DE INICIO*/
  .navbar {
    -webkit-box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    background-color: white;
  }
  .navbar img {
    width: 10rem;
    height: 8rem;
  }
  .navbar .navbar-collapse {
    display: flex;
    text-align: end;
  }
  .navbar .navbar-collapse .nav-link {
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
  }

  .contenedorPrincipal {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .contenedorPrincipal .carousel-image {
    width: 100vw;
  }
  .contenedorPrincipal .carousel-image2 {
    width: 100vw;
  }
  .contenedorPrincipal .mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contenedorPrincipal .mainIndex .textoinicial {
    font-family: "Oswald", sans-serif;
  }
  .contenedorPrincipal .mainIndex .btntienda {
    display: flex;
    justify-content: center;
  }
  .contenedorPrincipal .mainIndex .btntienda .btn {
    background-color: #91764b;
    box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
  }
  .contenedorPrincipal .mainIndex .btntienda .btn .botontienda {
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
  }
  .contenedorPrincipal .mainIndex .tablaContenidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  .contenedorPrincipal .mainIndex .tablaContenidos .card {
    width: 90%;
    margin-top: 1rem;
  }

  footer .footer {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    background-color: white;
    /* Inicialmente, el fondo del navbar es transparente */
    text-transform: uppercase;
    font-weight: 800;
  }
  footer .footer .footer-logo img {
    width: 5rem;
  }
  footer .footer .footer-redes {
    font-family: "Oswald", sans-serif;
  }
  footer .footer .footer-redes .contenedorRedes {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
  }
  footer .footer .footer-redes .contenedorRedes .fa-brands {
    color: black;
  }
  footer .footer .footer-ubi .contenedorPagos {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  footer .footer .footer-ubi .contenedorPagos .tarjetasBot img {
    width: 1.5rem;
    height: 1.5rem;
  }
  footer .footer .footer-ubi .contenedorPagos .tarjetasTop img {
    width: 1.5rem;
    height: 1.5rem;
  }

  /*HTML DE PRODUCTOS*/
  .productos {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .productos h1 {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
  }

  /*HTML DE TERMOS*/
  .productosTermos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .productosTermos .tituloTermos {
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .productosTermos .tablaTermos {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }
  .productosTermos .tablaTermos .card {
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 40%;
  }
  .productosTermos .tablaTermos .card .card-img-top {
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .productosTermos .tablaTermos .card-body {
    font-family: "Oswald", sans-serif;
  }
  .productosTermos .tablaTermos .card-body .card-title {
    font-size: 1rem;
  }
  .productosTermos .tablaTermos .card-body .card-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .productosTermos .tablaTermos .card-body .card-subtext {
    font-size: 0.8rem;
    color: gray;
  }
  .productosTermos .tablaTermos .card-body .btn {
    width: 100%;
    color: white;
    background-color: #a3875b;
    border: none;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  /*HTML DE MATES-BOMBILLAS-ACCESORIOS*/
  .tituloBombillas {
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .tituloAccesorios {
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .tituloMates {
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
  }

  .productosMates {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .productosMates .tablaMates {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }
  .productosMates .tablaMates .card {
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 40%;
    border-color: #e8e1e1;
  }
  .productosMates .tablaMates .card .card-img-top {
    width: 12rem;
    height: 12rem;
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .productosMates .tablaMates .card .card-body {
    font-family: "Oswald", sans-serif;
  }
  .productosMates .tablaMates .card .card-body .card-title {
    font-size: 1rem;
  }
  .productosMates .tablaMates .card .card-body .card-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .productosMates .tablaMates .card .card-body .card-subtext {
    font-size: 0.8rem;
    color: gray;
  }
  .productosMates .tablaMates .card .card-body .btn {
    width: 100%;
    color: white;
    background-color: #a3875b;
    border: none;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  /*HTML DE NOSOTROS*/
  .contenedorTituloNosotros {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
    margin-top: 5rem;
  }
  .contenedorTituloNosotros .titulodenosotros {
    font-family: "Oswald", sans-serif;
  }
  .contenedorTituloNosotros .titulodenosotros h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .contenedorTituloNosotros .titulodenosotros .lorem {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #555;
  }
  .contenedorTituloNosotros .carousel .carousel-item .carousel-image {
    width: 100vw;
  }

  /*HTML DE CONTACTOS*/
  .contactos-todo {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
  }
  .contactos-todo .divmapa .mapa {
    width: 40rem;
    height: 40rem;
  }
  .contactos-todo .opcionesdecontacto {
    font-family: "Oswald", sans-serif;
  }
  .contactos-todo .opcionesdecontacto h2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }
  .contactos-todo .opcionesdecontacto p {
    font-size: 2rem;
  }
  .contactos-todo .formularioContacto {
    background-color: #b5986b;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: 3rem;
  }
  .contactos-todo .formularioContacto .email {
    width: 80%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .nombre {
    width: 80%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .apellido {
    width: 80%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .mensaje {
    width: 90%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .mensaje .form-control {
    height: 10rem;
  }
  .contactos-todo .formularioContacto .btnEnviar .btn {
    width: 60%;
    height: 4rem;
    background-color: white;
    color: #6c542b;
    border: none;
  }

  /*HTML PREGUNTAS FRECUENTES*/
  .textoprincipal {
    margin-top: 5rem;
  }
  .textoprincipal .titulo-seccion {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 1rem;
  }
  .textoprincipal .pregunta h2 {
    text-align: center;
    font-size: 1.8rem;
  }
  .textoprincipal .pregunta p {
    background-color: #b5986b;
    font-size: 1.2rem;
  }
}
@media (min-width: 769px) {
  header .navbar {
    -webkit-box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    height: 4rem;
    background-color: white;
    /* Inicialmente, el fondo del navbar es transparente */
  }
  header .navbar img {
    width: 4rem;
    height: 3rem;
  }
  header .navbar .navbar-collapse {
    display: flex;
    text-align: end;
  }
  header .navbar .navbar-collapse .nav-link {
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
  }

  .contenedorPrincipal {
    margin-bottom: 5rem;
    width: 100vw;
  }
  .contenedorPrincipal .carousel {
    width: 70%;
    margin: auto;
    animation: carouselAnim 2s ease 0s 1 normal forwards;
  }
  @keyframes carouselAnim {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  .contenedorPrincipal .carousel .carousel-image {
    width: 100%;
  }
  .contenedorPrincipal .carousel .carousel-image2 {
    width: 100%;
  }
  .contenedorPrincipal .mainIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contenedorPrincipal .mainIndex .textoinicial {
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    width: 50%;
    margin: auto;
    padding-top: 4rem;
  }
  .contenedorPrincipal .mainIndex .btntienda {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .contenedorPrincipal .mainIndex .btntienda .btn {
    width: 40%;
    background-color: #91764b;
    box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 54px -2px rgba(0, 0, 0, 0.39);
  }
  .contenedorPrincipal .mainIndex .btntienda .btn .botontienda {
    text-decoration: none;
    color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .contenedorPrincipal .mainIndex .tablaContenidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .contenedorPrincipal .mainIndex .tablaContenidos .card {
    width: 40%;
    margin-top: 1rem;
    margin: 0.5rem;
  }

  footer .footer {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 19px 13px rgba(0, 0, 0, 0.3);
    background-color: white;
    /* Inicialmente, el fondo del navbar es transparente */
  }
  footer .footer .footer-logo img {
    width: 8rem;
  }
  footer .footer .footer-redes {
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    text-align: center;
  }
  footer .footer .footer-redes .contenedorRedes {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
  }
  footer .footer .footer-redes .contenedorRedes .fa-brands {
    color: black;
    font-size: 2rem;
    padding: 1rem;
  }
  footer .footer .footer-ubi {
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: black;
    text-align: center;
    margin-right: 1rem;
    text-transform: uppercase;
  }
  footer .footer .footer-ubi .contenedorPagos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 0.5rem;
  }
  footer .footer .footer-ubi .contenedorPagos .tarjetasTop {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
  }
  footer .footer .footer-ubi .contenedorPagos .tarjetasBot {
    display: flex;
    flex-direction: row;
  }

  /*HTML DE PRODUCTOS*/
  .productos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .productos h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 800;
  }
  .productos .tablaContenidos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .productos .tablaContenidos .card {
    width: 40%;
    margin-top: 1rem;
    margin: 0.5rem;
    animation: productoAnim 1s ease 0s 1 normal forwards;
  }
  @keyframes productoAnim {
    0% {
      opacity: 0;
      transform: rotate(-540deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(0) scale(1);
    }
  }

  /*HTML DE MATES-BOMBILLAS-ACCESORIOS*/
  .tituloBombillas {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }

  .tituloAccesorios {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }

  .tituloMates {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }

  .tablaMates {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .tablaMates .card {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 20%;
    border-color: #e8e1e1;
  }
  .tablaMates .card .card-img-top {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .tablaMates .card .card-body {
    font-family: "Oswald", sans-serif;
  }
  .tablaMates .card .card-body .card-title {
    font-size: 1rem;
  }
  .tablaMates .card .card-body .card-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .tablaMates .card .card-body .card-subtext {
    font-size: 0.8rem;
    color: gray;
  }
  .tablaMates .card .card-body .btn {
    width: 100%;
    color: white;
    background-color: #a3875b;
    border: none;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  /*HTML DE TERMOS*/
  .productosTermos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .productosTermos .tituloTermos {
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .productosTermos .tablaTermos {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .productosTermos .tablaTermos .card {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 20%;
  }
  .productosTermos .tablaTermos .card .card-img-top {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .productosTermos .tablaTermos .card-body {
    font-family: "Oswald", sans-serif;
  }
  .productosTermos .tablaTermos .card-body .card-title {
    font-size: 1rem;
  }
  .productosTermos .tablaTermos .card-body .card-text {
    font-size: 1rem;
    font-weight: 800;
  }
  .productosTermos .tablaTermos .card-body .card-subtext {
    font-size: 0.8rem;
    color: gray;
  }
  .productosTermos .tablaTermos .card-body .btn {
    width: 100%;
    color: white;
    background-color: #a3875b;
    border: none;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  /*HTML DE NOSOTROS*/
  .contenedorTituloNosotros {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
  }
  .contenedorTituloNosotros .titulodenosotros {
    font-family: "Oswald", sans-serif;
    width: 50%;
    margin: auto;
  }
  .contenedorTituloNosotros .titulodenosotros h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .contenedorTituloNosotros .titulodenosotros .lorem {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #555;
  }
  .contenedorTituloNosotros .carousel {
    width: 60%;
    margin: auto;
  }
  .contenedorTituloNosotros .carousel .carousel-item .carousel-image {
    width: 100%;
    height: 40rem;
  }

  /*HTML DE CONTACTOS*/
  .contactos-todo {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 6.9rem;
  }
  .contactos-todo .divmapa .titulo-mapa {
    background-color: #b5986b;
    color: black;
  }
  .contactos-todo .divmapa .titulo-mapa h1 {
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
  }
  .contactos-todo .divmapa .mapa {
    width: 40rem;
    height: 40rem;
  }
  .contactos-todo .opcionesdecontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactos-todo .opcionesdecontacto h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
  }
  .contactos-todo .opcionesdecontacto p {
    font-size: 1.5rem;
  }
  .contactos-todo .formularioContacto {
    background-color: #b5986b;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .contactos-todo .formularioContacto .email {
    width: 80%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .nombre {
    width: 80%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .apellido {
    width: 80%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .mensaje {
    width: 90%;
    margin: auto;
  }
  .contactos-todo .formularioContacto .mensaje .form-control {
    height: 10rem;
  }
  .contactos-todo .formularioContacto .btnEnviar .btn {
    background-color: white;
    color: #6c542b;
    border: none;
    width: 60%;
    height: 4rem;
    font-size: 2rem;
  }

  .textoprincipal {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .textoprincipal .titulo-seccion {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 1rem;
  }
  .textoprincipal .pregunta h2 {
    font-family: "Oswald", sans-serif;
    color: #6c542b;
    text-align: center;
    font-size: 1.8rem;
  }
  .textoprincipal .pregunta p {
    background-color: #b5986b;
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
