/* archivo de sass para mi proyecto*/
/*RECORDAR QUE EN SASS SE PUEDE IDENTAR*/
/*CSS FONT FAMILY*/
/*  
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
*/
/*MIXIN PARA PREGUNTAS FRECUENTES*/
@mixin estilos{
    font-family: $fuente_prin;
    color: $color5;
}
/*VARIABLES DE COLORES MARRONES PARA LA PAGINA*/

$color1: #b5986b ;
$color2: #a3875b ;
$color3: #91764b ;
$color4 :#7e653b ;
$color5: #6c542b ;

/*VARIABLE DE FUENTES*/

$fuente_prin: 'Oswald', sans-serif;

*{
    box-sizing: border-box;
    padding-top: 0;
    margin: 0;
}

body{
    margin: 0px;
    overflow-x: hidden;
    padding-top: 5rem;/*LE DOY UN PADDING AL BODY PARA QUE 
                       NO SE SOLAPE CON EL NAV STICKY*/
}
/*COMIENZO MOBILE FIRST EL DISEÑO DESDE CERO*/

/*HTML INICIO*/
@media (max-width: 576px){
    .navbar{
        -webkit-box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3); 
        box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3);
        background-color: white;
        img{
            width: 10rem;
            height: 8rem;
        }
        .navbar-collapse{
            display: flex;
            text-align: end;
            .nav-link{
                font-size: 1.2rem;
                font-family: $fuente_prin;
                font-weight: 500;
                text-transform: uppercase;
                color: black;
            }
        }
    }
    .contenedorPrincipal{
        margin-bottom: 5rem;
        margin-top: 5rem;
        .carousel-image{
            width: 100vw;
        }
        .carousel-image2{
            width: 100vw;
        }
        .mainIndex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .textoinicial{  
               font-family: $fuente_prin;
            }
            .btntienda{
                display: flex;
                justify-content: center;
                .btn{
                    background-color: $color3;
                    box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                                -webkit-box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                                -moz-box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                       
                    .botontienda{
                        text-decoration: none;
                        color: black;
                        font-family: $fuente_prin;
                        font-weight: 500;
                    }
                }
            }
            .tablaContenidos{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 2rem;
                .card{
                    width: 90%;
                    margin-top: 1rem;
                }
            }   
        }
    }
    footer{
        .footer{
            display: flex;
            justify-content: center;
            -webkit-box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3); 

            box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3);
    
            background-color: white; /* Inicialmente, el fondo del navbar es transparente */
    
            .footer-logo{
                img{
                    width: 5rem;
                }
            }
            .footer-redes{
                font-family: $fuente_prin;
               .contenedorRedes{
                display: flex;
                justify-content: space-evenly;
                padding-top: .5rem;
                .fa-brands{
                    color: black;
                }
               }
            }
            .footer-ubi{
                
                .contenedorPagos{
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    padding-top: .5rem;
                    .tarjetasTop{
                        img{
                            width: 1.5rem;
                            height: 1.5rem; 
                        }
                       
                    }
                    .tarjetasBot{
                        img{
                           width: 1.5rem;
                           height: 1.5rem 
                        }
                        
                    }
                }
            }


        }
    }
/*HTML PRODUCTOS*/    
    .productos{
        display: flex;
        justify-content: center;
        flex-direction: column;
 
        h1{
            font-family: $fuente_prin;
            font-size: 3rem;
        }
        
        
    }
/*HTML DE TERMOS*/   
.productosTermos{
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    .tituloTermos{
        margin-top: 5rem;
        font-size: 4rem;
        font-weight: 700;
        font-family: $fuente_prin;
        text-transform: uppercase;
    }
    .tablaTermos{
      flex-wrap: wrap;
      display: flex;
      justify-content: space-evenly;
         .card{
            margin-top: 2rem;
            margin-right: 1rem;
            margin-left: 1rem;
            width: 40%;
            .card-img-top{
                width: 10rem;
                height: 10rem; 
            }
           
        }
        .card-body{
            font-family: $fuente_prin;
          
            .card-title{
                font-size: 1rem;
            }
            .card-text{
                font-size: 1rem;
                font-weight: 800;
            }
            .card-subtext{
                font-size: .8rem;
                color: gray;
                
            }
            .btn{
                width: 100%;
                color: white;
                background-color: $color2;
                border: none;
                font-size: .7rem;
                text-transform: uppercase;
            }
        }
    }
   
}
/*HTML DE MATES-BOMBILLAS-ACCESORIOS*/
.tituloBombillas{
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
    text-align: center;
}
.tituloAccesorios{
    text-align: center;
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
}
    .productosMates{
        display: flex;
       align-items: center;
        justify-content: center;
        flex-direction: column;
        .tituloMates{
            margin-top: 5rem;
            font-size: 4rem;
            font-weight: 700;
            font-family: $fuente_prin;
            text-transform: uppercase;
        }
        .tablaMates{
          flex-wrap: wrap;
          display: flex;
          justify-content: space-evenly;
             .card{
                margin-top: 5rem;
                margin-right: 1rem;
                margin-left: 1rem;
                width: 40%;
                border-color: rgb(232, 225, 225);
                .card-img-top{
                    width: 12rem;
                    height: 12rem; 
                    
                }
                .card-body{
                    font-family: $fuente_prin;
                  
                    .card-title{
                        font-size: 1rem;
                    }
                    .card-text{
                        font-size: 1rem;
                        font-weight: 800;
                    }
                    .card-subtext{
                        font-size: .8rem;
                        color: gray;
                        
                    }
                    .btn{
                        width: 100%;
                        color: white;
                        background-color: $color2;
                        border: none;
                        font-size: .7rem;
                        text-transform: uppercase;
                    }
                }
               
            }
        }
       
    }
/*HTML DE NOSOTROS*/    
    .contenedorTituloNosotros {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
        .titulodenosotros{
            font-family: $fuente_prin;
            h1 {
            font-size: 32px;
            margin-bottom: 20px;
            text-transform: uppercase;
            } 
            .lorem{
                font-size: 18px;
                line-height: 1.6;
                color: #555;
            }
        } 
            .carousel{
                .carousel-item{
                    .carousel-image{
                        width: 100vw;
                    }
                }
            }
    }
/*HTML DE CONTACTOS*/
    .contactos-todo{
        margin-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: $fuente_prin;
        text-transform: uppercase;
        font-weight: 800;
        .opcionesdecontacto{
            font-family: $fuente_prin;
            padding-top: 5rem;
        }
        .formularioContacto{
            background-color: $color2;
            margin-top: 5rem;
            
            .email{
                width: 80%;
                margin: auto;
                padding-top: 2rem;
            }
            .nombre{
                width: 80%;
                margin: auto;
                
            }
            .apellido{
                width: 80%;
                margin: auto;
                padding-bottom: 3rem;
            }
            .mensaje{
                width: 90%;
                margin: auto;
                .form-control{
                    height: 15rem;
                }
            }
            .btnEnviar{
                padding-bottom: 1rem;
                .btn{
                    background-color: white;
                    color: $color5;
                    border: none;
                }
            }
            
        }
    }
/*HTML DE PREGUNTAS FRECUENTES*/
    .textoprincipal{
        margin-top: 5rem;
        
       .titulo-seccion{
        font-family: $fuente_prin;
        text-transform: uppercase;
        font-weight: 800;
        padding-bottom: 1rem;
        }
        .pregunta{
                h2{
                  font-family: $fuente_prin;
                  text-align: center;  
                }
                p{
                    background-color: $color1;
                    text-align: center;
                }               
            }
     
    }    

}  

/*------------MEDIA PARA TABLETS------------*/
@media (min-width: 576px ) and (max-width: 768px){
/*HTML DE INICIO*/

    .navbar{
    -webkit-box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3);
    background-color: white;
        img{
        width: 10rem;
        height: 8rem;
        }
        .navbar-collapse{
        display: flex;
        text-align: end;
        .nav-link{
            font-size: 1.2rem;
            font-family: $fuente_prin;
            font-weight: 500;
            text-transform: uppercase;
            color: black;
        }
        }
    }
    .contenedorPrincipal{
        margin-bottom: 5rem;
        margin-top: 5rem;
        .carousel-image{
            width: 100vw;
        }
        .carousel-image2{
            width: 100vw;
        }
        .mainIndex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .textoinicial{  
               font-family: $fuente_prin;
            }
            .btntienda{
                display: flex;
                justify-content: center;
                .btn{
                    background-color: $color3;
                    box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                                -webkit-box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                                -moz-box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                       
                    .botontienda{
                        text-decoration: none;
                        color: black;
                        font-family: $fuente_prin;
                        font-weight: 500;
                    }
                }
            }
            .tablaContenidos{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 2rem;
                .card{
                    width: 90%;
                    margin-top: 1rem;
                }
            }   
        }
    }
    footer{
        .footer{
            display: flex;
            justify-content: space-evenly;
            -webkit-box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3); 

            box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3);
    
            background-color: white; /* Inicialmente, el fondo del navbar es transparente */
            text-transform: uppercase;
            font-weight: 800;
            .footer-logo{
                img{
                    width: 5rem;
                }
            }
            .footer-redes{
                font-family: $fuente_prin;
               .contenedorRedes{
                display: flex;
                justify-content: space-evenly;
                padding-top: .5rem;

                .fa-brands{
                    color: black;
                }
               }
            }
            .footer-ubi{
                
                .contenedorPagos{
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    padding-top: .5rem;
                    .tarjetasBot{
                        img{
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                    .tarjetasTop{
                        img{
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                   
                }
            }


        }
    }
/*HTML DE PRODUCTOS*/
.productos{
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1{
        font-family: $fuente_prin;
        font-size: 3rem;
    }
    
    
}
/*HTML DE TERMOS*/
.productosTermos{
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    .tituloTermos{
        font-size: 4rem;
        font-family: $fuente_prin;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    .tablaTermos{
      flex-wrap: wrap;
      display: flex;
      justify-content: space-evenly;
         .card{
            margin-top: 5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            width: 40%;
            .card-img-top{
                width: 10rem;
                height: 10rem; 
                margin-left: auto;
                margin-right: auto;
                display: block;
              
            }
           
        }
        .card-body{
            font-family: $fuente_prin;
          
            .card-title{
                font-size: 1rem;
            }
            .card-text{
                font-size: 1rem;
                font-weight: 800;
            }
            .card-subtext{
                font-size: .8rem;
                color: gray;
                
            }
            .btn{
                width: 100%;
                color: white;
                background-color: $color2;
                border: none;
                font-size: .7rem;
                text-transform: uppercase;
            }
        }
    }
   
}
/*HTML DE MATES-BOMBILLAS-ACCESORIOS*/
.tituloBombillas{
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
    text-align: center;
}
.tituloAccesorios{
    margin-top: 4rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
    text-align: center;
}
.tituloMates{
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
    text-align: center;
    }
.productosMates{
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    .tablaMates{
      flex-wrap: wrap;
      display: flex;
      justify-content: space-evenly;
         .card{
            margin-top: 5rem;
            margin-right: 1rem;
            margin-left: 1rem;
            width: 40%;
            border-color: rgb(232, 225, 225);
            .card-img-top{
                width: 12rem;
                height: 12rem; 
                width: 10rem;
                height: 10rem; 
                margin-left: auto;
                margin-right: auto;
                display: block;
                
            }
            .card-body{
                font-family: $fuente_prin;
              
                .card-title{
                    font-size: 1rem;
                }
                .card-text{
                    font-size: 1rem;
                    font-weight: 800;
                }
                .card-subtext{
                    font-size: .8rem;
                    color: gray;
                    
                }
                .btn{
                    width: 100%;
                    color: white;
                    background-color: $color2;
                    border: none;
                    font-size: .7rem;
                    text-transform: uppercase;
                }
            }
           
        }
    }
   
}
/*HTML DE NOSOTROS*/    
.contenedorTituloNosotros {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
    margin-top: 5rem;
        .titulodenosotros{
            font-family: $fuente_prin;
            
            h1 {
            font-size: 3rem;
            margin-bottom: 20px;
            text-transform: uppercase;
            } 
            .lorem{
                font-size: 1.5rem;
                line-height: 1.6;
                color: #555;
            }
        } 
            .carousel{
                .carousel-item{
                    .carousel-image{
                        width: 100vw;
                    }
                }
            }
    }
/*HTML DE CONTACTOS*/
    .contactos-todo{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 5rem;
        .divmapa{
            .mapa{
                width: 40rem;
                height: 40rem;
            }
        }
        .opcionesdecontacto{
            font-family: $fuente_prin;
            h2{
                font-size: 2.5rem;
                font-weight: 800;
                text-transform: uppercase;
            }
            p{
                font-size: 2rem;
            }
        }
        .formularioContacto{
            background-color: $color1;
            padding-bottom: 5rem;
            padding-top: 5rem;
            margin-top: 3rem;
            .email{
                width: 80%;
                margin: auto;
            }
            .nombre{
                width: 80%;
                margin: auto;
            }
            .apellido{
                width: 80%;
                margin: auto;
            }
            .mensaje{
                width: 90%;
                margin: auto;
                .form-control{
                    height: 10rem;
                }
            }
            .btnEnviar{
                .btn{
                    width: 60%;
                    height: 4rem;
                    background-color: white;
                    color: $color5;
                    border: none;
                }
            }
        }
    }
/*HTML PREGUNTAS FRECUENTES*/
    .textoprincipal{
        margin-top: 5rem;
        .titulo-seccion{
            font-family: $fuente_prin;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
            padding-bottom: 1rem;
        }
        .pregunta{
            
            h2{
                text-align: center;
                font-size: 1.8rem;

            }
            p{
                background-color: $color1;
                font-size: 1.2rem;
            }
        }
    }
}  
//VISTA ESCRITORIO
@media (min-width: 769px ){
    header{
       
       .navbar{
        -webkit-box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3); 
        box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3);
      
        height: 4rem;
    
        background-color: white; /* Inicialmente, el fondo del navbar es transparente */
        img{
            width: 4rem;
            height: 3rem;
           
        }
        .navbar-collapse{
            display: flex;
            text-align: end;
            .nav-link{
                font-size: 1.2rem;
                font-family: $fuente_prin;
                font-weight: 500;
                text-transform: uppercase;
                color: black;
            }
        }
    } 
    }
    
    .contenedorPrincipal{
        margin-bottom: 5rem;
        width: 100vw;
        
        .carousel{
            width: 70%;
            margin: auto;
            animation: carouselAnim 2s ease 0s 1 normal forwards;
            @keyframes carouselAnim {
                0% {
                    transform: scale3d(1, 1, 1);
                }
                30% {
                    transform: scale3d(1.25, 0.75, 1);
                }
                40% {
                    transform: scale3d(0.75, 1.25, 1);
                }
                50% {
                    transform: scale3d(1.15, 0.85, 1);
                }
                65% {
                    transform: scale3d(0.95, 1.05, 1);
                }
                75% {
                    transform: scale3d(1.05, 0.95, 1);
                }
                100% {
                    transform: scale3d(1, 1, 1);
                }
            }
        .carousel-image{
            width: 100%;
          
        }
        .carousel-image2{
            width: 100%;
        }
        }
        .mainIndex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
            .textoinicial{  
               font-family: $fuente_prin;
               font-size: 4rem;
               text-transform: uppercase;
               width: 50%;
               margin: auto;
               padding-top: 4rem;
            }
            .btntienda{
                display: flex;
                justify-content: center;
                padding-bottom: 4rem;
                .btn{
                    width: 40%;
                    background-color: $color3;
                    box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                                -webkit-box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                                -moz-box-shadow: 0px 0px 54px -2px rgba(0,0,0,0.39);
                       
                    .botontienda{
                        text-decoration: none;
                        color: black;
                        font-family: $fuente_prin;
                        font-weight: 500;
                        font-size: 1.5rem;
                    }
                }
            }
            .tablaContenidos{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding-top: 2rem;
                .card{
                    width: 40%;
                    margin-top: 1rem;
                    margin: .5rem;
                }
            }   
        }
    }
    footer{
        .footer{
            display: flex;
           
            justify-content: space-evenly;
            -webkit-box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3); 

            box-shadow: 0px 0px 19px 13px rgba(0,0,0,0.3);
    
            background-color: white; /* Inicialmente, el fondo del navbar es transparente */
            
            .footer-logo{
                img{
                    width: 8rem;
                }
            }
            .footer-redes{
                font-family: $fuente_prin;
                font-size: 1.2rem;
                font-weight: 800;
                color: black;
                text-transform: uppercase;
                text-align: center;
               .contenedorRedes{
                display: flex;
                justify-content: space-evenly;
                padding-top: .5rem;
                .fa-brands{
                    color: black;
                    font-size: 2rem;
                    padding: 1rem;
                }
               }
            }
            .footer-ubi{
                font-family: $fuente_prin;
                font-size: 1.2rem;
                font-weight: 800;
                color: black;
                text-align: center;
               margin-right: 1rem;
               text-transform: uppercase;
                .contenedorPagos{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding-top: .5rem;
                    
                    .tarjetasTop{
                        display: flex;
                        flex-direction: row;
                        padding-bottom: .5rem;
                    }
                    .tarjetasBot{
                        display: flex;
                        flex-direction: row;
                    }
                }
            }


        }
    }  
/*HTML DE PRODUCTOS*/

.productos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
    h1{
        text-align: center;
        text-transform: uppercase;
        font-family: $fuente_prin;
        font-weight: 800;
    }
    .tablaContenidos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        .card{
            width: 40%;
            margin-top: 1rem;
            margin: .5rem;
            animation: productoAnim 1s ease 0s 1 normal forwards;
            @keyframes productoAnim {
                0% {
                    opacity: 0;
                    transform: rotate(-540deg) scale(0);
                }
            
                100% {
                    opacity: 1;
                    transform: rotate(0) scale(1);
                }
            }
        }
    }   
       
    }

/*HTML DE MATES-BOMBILLAS-ACCESORIOS*/  
.tituloBombillas{
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
}
.tituloAccesorios{
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
}
.tituloMates{
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: $fuente_prin;
    text-transform: uppercase;
    }
.tablaMates{
    flex-wrap: wrap;
    display: flex;
   justify-content: center;
   
       .card{
          margin-top: 1rem;
          margin-right: 1rem;
          margin-left: 1rem;
          width: 20%;
          border-color: rgb(232, 225, 225);
          .card-img-top{
              width: 100%;
              height: 100%;
              margin-left: auto;
              margin-right: auto;
              display: block;
              
          }
          .card-body{
              font-family: $fuente_prin;
            
              .card-title{
                  font-size: 1rem;
              }
              .card-text{
                  font-size: 1rem;
                  font-weight: 800;
              }
              .card-subtext{
                  font-size: .8rem;
                  color: gray;
                  
              }
              .btn{
                  width: 100%;
                  color: white;
                  background-color: $color2;
                  border: none;
                  font-size: .7rem;
                  text-transform: uppercase;
              }
          }
         
      }
  }
  /*HTML DE TERMOS*/  
  .productosTermos{
    display: flex;
   align-items: center;
    justify-content: center;
    flex-direction: column;
    .tituloTermos{
        font-size: 4rem;
        font-family: $fuente_prin;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    .tablaTermos{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
         .card{
            margin-top: 1rem;
            margin-right: 1rem;
            margin-left: 1rem;
            width: 20%;
            .card-img-top{
                width: 100%;
              height: 100%;
                margin-left: auto;
                margin-right: auto;
                display: block;
              
            }
           
        }
        .card-body{
            font-family: $fuente_prin;
          
            .card-title{
                font-size: 1rem;
            }
            .card-text{
                font-size: 1rem;
                font-weight: 800;
            }
            .card-subtext{
                font-size: .8rem;
                color: gray;
                
            }
            .btn{
                width: 100%;
                color: white;
                background-color: $color2;
                border: none;
                font-size: .7rem;
                text-transform: uppercase;
            }
        }
    }
   
}
/*HTML DE NOSOTROS*/    
.contenedorTituloNosotros {
    background-color: #f9f9f9;
    padding: 2rem;
    text-align: center;
        .titulodenosotros{
            font-family: $fuente_prin;
            width: 50%;
            margin: auto;
            h1 {
            font-size: 4rem;
            font-weight: 800;
            margin-bottom: 20px;
            text-transform: uppercase;
            } 
            .lorem{
                font-size: 1.5rem;
                line-height: 1.6;
                color: #555;
            }
        } 
            .carousel{
                width: 60%;
                margin: auto;
               
                .carousel-item{
                    .carousel-image{
                        width: 100%;
                        height: 40rem;

                    }
                }
            }
    }
/*HTML DE CONTACTOS*/
    .contactos-todo{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        margin-top: 5rem;
        margin-bottom: 6.9rem;
        .divmapa{
            .titulo-mapa{
               background-color: $color1;
               color: black;
               h1{
                font-size: 1.3rem ;
                font-family: $fuente_prin;
                text-transform: uppercase;
               }
            
            }
            .mapa{
                width: 40rem;
                height: 40rem;
            }
        }
        .opcionesdecontacto{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                font-family: $fuente_prin;
                font-weight: 800;
                text-transform: uppercase;
                font-size: 3rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
        .formularioContacto{
            background-color: $color1;
            font-family: $fuente_prin;
            font-size: 1.5rem;
            text-transform: uppercase;
            .email{
                width: 80%;
                margin: auto;
            }
            .nombre{
                width: 80%;
                margin: auto;
            }
            .apellido{
                width: 80%;
                margin: auto;
            }
            .mensaje{
                width: 90%;
                margin: auto;
                .form-control{
                    height: 10rem;
                }
            }
            .btnEnviar{
                .btn{
                    background-color: white;
                    color: $color5;
                    border: none;
                    width: 60%;
                    height: 4rem;
                    font-size: 2rem;
                }
            }
        }
    }  
    // html preguntas frecuentes
    .textoprincipal{
        margin-top: 5rem;
        margin-bottom: 5rem;
        .titulo-seccion{
            font-family: $fuente_prin;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
            padding-bottom: 1rem;
        }
        .pregunta{
            
            h2{
                @include estilos;
                text-align: center;
                font-size: 1.8rem;

            }
            p{
                background-color: $color1;
                font-size: 2rem;
            }
        }
    } 
    
}
    
    
