/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

/* ------------- index ---------------- */ 

body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  
}

header{
    
    background-color: rgb(86, 122, 79);
}
header .logotipo {
    text-align: center;
}
header .logotipo .navbar-brand img{
    width: 90px;
}
header .navbar .navbar-collapse{
    justify-content: center;
}
header .navbar .navbar-collapse .links{
    text-align: center;
    margin: 20px;
}
header .navbar .navbar-collapse .links .nav-item{
    display: inline;
    
}
header .navbar .navbar-collapse .links .nav-item a{
    text-decoration: none;
    margin: 12px;
}
@media (max-width: 767px) {
    header .navbar .navbar-collapse {
      max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
      overflow-y: auto;
    }
  }
.mainIndex{
    text-align: center;
    padding-top: 5em;
}
.mainIndex .btn{
    margin: 30px;
    background-color: rgb(142, 205, 142);
}
.mainIndex .btn .botontienda{
    text-decoration: none;
    color: white;
}

.carousel-inner .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel .carousel-inner .carousel-image{
    width: 20%;
    height: auto;
    margin: 0 auto; /* Centrar horizontalmente */
}
.carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(75%) sepia(74%) saturate(1966%) hue-rotate(88deg) brightness(109%) contrast(91%);
}
@media (max-width: 767px) {
    .carousel .carousel-inner .carousel-image{
        width: 50%;
        height: auto;
        margin: 0 auto; /* Centrar horizontalmente */
    }
    .carousel-inner .carousel-item{
        margin-bottom: 30px;
    }
  }
footer{
    background-color: rgb(86, 122, 79);
    width: 100%;
    margin-top: 15rem;
   
}
@media (max-width: 767px) {
    footer {
    
      margin-top: auto;
    }
  }
footer .footer .footer-logo img{
    width: 50px;

}


/* ------------------------------------- css de productos ----------------------------- */

.tituloDeProductos{
    text-align: center;
}

.tituloDeProductos .ttls .ttl-termos{
    display: inline-block;
    margin-right: 350px;
    background-color: beige;
    font-size: 20px;
}
.tituloDeProductos .ttls .ttl-mates{
    display: inline-block;
    margin-left: 350px;
    background-color: beige;
    font-size: 20px;
}
.tituloDeProductos .img-termos{
    display: inline-block;
    margin-right: 100px;
    margin-top: 30px;
}
.tituloDeProductos .img-termos img{
    width: 350px;
    display: block;
}
.img-termos .termo-negro{
    margin-top: 200px;
}
.tituloDeProductos .img-mates{
    display: inline-block;
    margin-left: 300px;
    margin-top: 30px;
}
.tituloDeProductos .img-mates img{
    display: block;
    width: 350px;    
}
.img-mates .mate-verde{
    margin-bottom: 200px;
}

/* ------------------- css para nosotros ----------------- */

main .titulodenosotros{
    text-align: center;
}
main .titulodenosotros .lorem{
    margin-top: 50px;
}
main .imagenesdenosotros{
    text-align: center;
}
main .imagenesdenosotros img{
    width: 450px;
    margin-top: 40px;
}
main .imagenesdenosotros .estantes{
    margin-left: 30px;
    margin-right: 30px;
    
}
/* ---------------- css para contactos ------------- */ 
.contactos-todo{
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 175px;
}
.contactos-todo .divmapa{
    display: inline-block;
    
}
.contactos-todo .opcionesdecontacto{
    display: inline-block;
 
}
.opcionesdecontacto .acercate{
    margin-top: 30px;
    background-color: beige;
    margin-bottom: 15px;
}
.opcionesdecontacto .escribinos{
    margin-top: 30px;
    background-color: beige;
    margin-bottom: 15px;
}
.opcionesdecontacto .llamanos{
    background-color: beige;
    margin-bottom: 15px;
}
.opcionesdecontacto .numero{
    background-color: antiquewhite;
}
.opcionesdecontacto .direccion{
    background-color: antiquewhite;
}
.opcionesdecontacto .mail{
    background-color: antiquewhite;
}
/* --------------- css para preguntas frecuentes ------------ */

.textoprincipal{
   text-align: center;
}
.textoprincipal .tex{
    margin-top: 30px;
}
.textoprincipal .contenedorpreguntas{
   padding-left: 600px;
   padding-right: 600px;   
}
